<Div>Create New Employee</Div>

<%= render partial: "employee_form", locals: {submit_text: "Create New Employee"} %><br>
<%= link_to "Index Page", employees_path %><br>
<%= link_to "other Index Page", dogs_path %>
